/* ******************* HEADER ******************* */
header {
    width: 100%;
    justify-content: space-evenly;
    background-color: lightblue;
}

.logo_header {
    height: 120px;
    width: 120px;
    margin-top: -50px;
    border-radius: 50%;

}

li .active {
    background-color: rgb(138, 34, 34);
    color: white;
}

nav {
    padding: 2px;
    border: solid 3px black;
}

nav a:hover {
    background-color: rgb(138, 34, 34);
    color: white;

}

nav a {
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
}

nav ul {

    text-align: center;
    font-size: 14pt;
    margin: 5px;
    padding: 10px;
    padding-top: 10px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

#header_date {
    text-align: center;
    border: solid black 2px;
    margin-right: 20px;
    margin-left: 20px;

}

.ham {
    text-align: center;


}

/* I need to keep on working on the HAMBURGER MENU NEXT. */
.ham span {
    background-color: lightblue;
    text-decoration: none;

    width: 35px;
}

.ham span:nth-child(1) {
    display: block;
}

.ham span:nth-child(2) {
    display: none;
}

.ham.responsive span:nth-child(1) {
    display: none;
}

.ham.responsive span:nth-child(2) {
    display: block;
}

li {
    padding-top: 50px;
}

div .facebook {
    width: 55px;
    height: 55px;
    grid-column: 5/6;
    /* padding: 10px; */
    grid-row: 1;
    /* margin-top: 20px; */
    border-radius: 50%;

}

div .linkedin {
    width: 55px;
    height: 55px;
    /* padding: 10px; */
    grid-column: 6/7;
    grid-row: 1;
    /* margin-top: 20px; */
    border-radius: 50%;
}

#msg-box {
    display: none;
}

/* ******************* BODY ******************* */
body {
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: 0;

}

#content {
    width: 100%;
    margin: 0 auto;
} 

img .views {
    width: 200px;
}
.views {
    width: 50px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 30px;

}
#views_box {
    text-align: center;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cards section {
    border: 2px solid black;
    box-shadow: 0 0 15px black;
    padding: 30px;
    
    width: 300px;
    margin: 20px;
}

h2, h1 {
    color: black;
    text-align: center;
}

img {
    width: 90%;
    
}
table {
    width: 75%;
    margin: 50px auto;
    font-size: 1.2em;
}
tr {
    line-height: 2.5em;
}
td {
    padding: 5px;
}
tr:nth-of-type(even){
    background-color: #ccc;
}
table a {
    color: black;
}

/* ******************* FOOTER ******************* */

#info {
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    margin: 5px;
    /* padding: 10px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;


}

#address {
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    /* line-height: 10px; */
}

#contact {
    grid-column: 5/6;
    padding-top: 40px;
    /* line-height: 10px; */
}

.map {
    display: block;
    text-decoration: none;
}

.logo_footer {
    height: 200px;
    width: 200px;
    justify-content: center;
    grid-column: 2/3;
    border-radius: 50%;

}

#buttom_banner {
    text-align: center;
    padding: 5px;
    background-color: lightblue;
    border: solid 3px black;
}

/* ******************* MEDIA QUERIES ******************* */

@media screen and (min-width: 550px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    img {
        max-width: 400px;
        width: 80%;
    }
}

@media screen and (min-width: 900px) {
    main {   
        grid-template-columns: 1fr 1fr 1fr; 
    }
    figure img:hover {
        box-shadow: 0 0 15px #333;
    }
    figcaption {
        display: block;
    }
    .table tr, table td {
        display: block;
        border: none;
        line-height: 2.5rem;
        text-align: center;
      }
}
