@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

#content {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;

}

#memberinfo h3 {
    justify-content: center;
    padding: 0px;
}
form {
    margin: 30px;
}
form input:required {
    border-left: red solid 6px;
}
form input:required:valid {
    border-left: green solid 6px;
}
label, span {
    font-size: 14px;
}
label, input {display:block}
input, textarea {
    height: 44px; 
}
input, textarea{
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
}
textarea {
    height: 100px;
}
input[type='radio']{ 
    height: 20px; 
}
#member {padding-bottom: 20px;}
span {
    font-size: 18px;
}
#radio {
    display: grid;
    grid-template-columns: 60px 100px;
}
input[type='submit']{ 
    height: 80px; 
    width: 75%;
    font-size: 16px;
    margin-left: 40px;
    background-color: skyblue;
    padding: 20px;
    box-shadow: 0 0 10px skyblue;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    
}
input[type='submit']:hover {
    background-color: rgb(50, 168, 214);
    color: white;
}

#memberinfo {
    margin: 40px 40px 40px 100px;
    font-size: 14px;
    list-style: none;
}

#memberinfo li {
    list-style: none;
    line-height : 20px;
    margin: 0 auto;
    padding: 0px;
}

/* -----------------MEDIA QUERIES-------------- */
@media screen and (max-width: 900px) {
    #content{
        flex-direction: column;
    }
}