@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* ******************* HEADER ******************* */
header {
    width: 100%;
    justify-content: space-evenly;
    background-color: lightblue;
}

.logo_header {
    height: 120px;
    width: 120px;
    margin-top: -50px;
    border-radius: 50%;

}

li .active {
    background-color: rgb(138, 34, 34);
    color: white;
}

nav {
    padding: 2px;
    border: solid 3px black;
}

nav a:hover {
    background-color: rgb(138, 34, 34);
    color: white;

}

nav a {
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
}

nav ul {

    text-align: center;
    font-size: 14pt;
    margin: 5px;
    padding: 10px;
    padding-top: 10px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

#header_date {
    text-align: center;
    border: solid black 2px;
    margin-right: 20px;
    margin-left: 20px;

}

#msg-box {
    display: none;
}

.ham {
    text-align: center;


}

/* I need to keep on working on the HAMBURGER MENU NEXT. */
.ham span {
    background-color: lightblue;
    text-decoration: none;

    width: 35px;
}

.ham span:nth-child(1) {
    display: block;
}

.ham span:nth-child(2) {
    display: none;
}

.ham.responsive span:nth-child(1) {
    display: none;
}

.ham.responsive span:nth-child(2) {
    display: block;
}

li {
    padding-top: 50px;
}

div .facebook {
    width: 55px;
    height: 55px;
    grid-column: 5/6;
    padding: 10px;
    grid-row: 1;
    margin-top: 20px;
    border-radius: 50%;

}

div .linkedin {
    width: 55px;
    height: 55px;
    padding: 10px;
    grid-column: 6/7;
    grid-row: 1;
    margin-top: 20px;
    border-radius: 50%;
}

/* ******************* BODY ******************* */

body {
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: 0;

}

.content {
    max-width: 1400px;
    margin: 0 auto;
}


.boxes {
    display: grid;
    margin-left: 80px;
    margin-right: 80px;
    padding: 4px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-gap: 10px;
    text-align: center;
    flex-direction: column;
}


.box h3 {
    color: black;
    font-size: 1.6em;
    text-align: center;
    text-shadow: 0 0 4px black;

}

.box p {
    text-align: center;
    padding: 0 15px;
}

/* .grid-item {
    display: grid;
} */

#event {
    background-color: lightgray;
    border: solid 2px black;
    padding: 10px;
    grid-column: 1/2;
    grid-row: 1/1;
    box-shadow: 0px 0px 3px 3px rgb(51, 49, 49);


}

#hero_section {
    position: relative;
    background-color: lightgray;
    border: solid 2px black;
    /* object-fit: cover;
    background-size: cover;
    background-position: center; */
    grid-column: 2/4;
    grid-row: 1/3;
    box-shadow: 0px 0px 3px 3px rgb(51, 49, 49);

}

#hero img {
    width: 100%;
    height: 300px;
}

#weather_section {
    background-color: lightgray;
    border: solid 2px black;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    /* width: 100%;
    max-height: 100%; */
    grid-column: 1/1;
    grid-row: 2/2;
    box-shadow: 0px 0px 3px 3px rgb(51, 49, 49);

}

#weather_section img {
    width: 100px;
}

#weather span {
    padding-left: 10px;
}

.temp {
    display: flex;
    justify-content: space-around;
}

.temp p {
    font-size: 2em;
}

#join {
    background-color: lightgray;
    border: solid 2px black;
    padding: 10px;
    grid-column: 1/1;
    grid-row: 3/3;
    box-shadow: 0px 0px 3px 3px rgb(51, 49, 49);

}

#button2 {
    width: 50%;
    display: block;
    margin: 0 auto;
}

#button .join,
#button2 {
    background-color: skyblue;
    padding: 20px;
    box-shadow: 0 0 10px skyblue;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
}

#hero img {
    width: 100%;
}

#button a,
#button2 a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

#news {
    background-color: lightgray;
    border: solid 2px black;
    padding: 10px;
    grid-column: 2/4;
    grid-row: 3/3;
    box-shadow: 0px 0px 3px 3px rgb(51, 49, 49);

}

#spotlights {
    background-color: lightgray;
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 4/5;
    grid-row: 1/4;
    border: solid 2px black;
    box-shadow: 0px 0px 3px 3px rgb(51, 49, 49);
}


#spotlight1,
#spotlight2,
#spotlight3 {
    background-color: lightgray;
    border: 2px solid black;
    padding: 10px;
    width: 90%;
    border: solid 2px black;
    box-shadow: 0px 0px 3px 3px rgb(51, 49, 49);
}




/* ******************* FOOTER ******************* */
/* footer {
    border: solid 3px black;
} */

#info {
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    margin: 5px;
    /* padding: 10px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;


}

#address {
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    /* line-height: 10px; */
}

#contact {
    grid-column: 5/6;
    padding-top: 40px;
    /* line-height: 10px; */
}

.map {
    display: block;
    text-decoration: none;
}

.logo_footer {
    height: 200px;
    width: 200px;
    justify-content: center;
    grid-column: 2/3;
    border-radius: 50%;

}

#buttom_banner {
    text-align: center;
    padding: 5px;
    background-color: lightblue;
    border: solid 3px black;
}


/* ******************* MEDIA QUERIES ******************* */


@media screen and (min-width: 550px) {
    .content {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;

    }

    /* .navigation {

        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;

    } */

/* 
    .ham {
        display: none;
    }

    header {
        width: 100%;
        justify-content: space-evenly;
        background-color: lightblue;
    }
    
    .logo_header {
        height: 120px;
        width: 120px;
        margin-top: -50px;
        border-radius: 50%;
    
    }
    
    li .active {
        background-color: rgb(138, 34, 34);
        color: white;
    }
    
    nav {
        padding: 2px;
        border: solid 3px black;
    }
    
    nav a:hover {
        background-color: rgb(138, 34, 34);
        color: white;
    
    }
    
    nav a {
        text-decoration: none;
        font-size: 20px;
        padding: 15px;
    }
    
    nav ul {
    
        text-align: center;
        font-size: 14pt;
        margin: 5px;
        padding: 10px;
        padding-top: 10px;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
    }
    
    #header_date {
        text-align: center;
        border: solid black 2px;
        margin-right: 20px;
        margin-left: 20px;
    
    }*/
} 

@media screen and (max-width: 1000px) {
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
    }


}

@media screen and (min-width: 1300px) {
    #main_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
    }
}


/* @media screen and (min-width: 550px) {

    .boxes {
        grid-template-columns: 2fr 1fr 1fr 2fr;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px 0;
    }

    .navigation{
        flex-direction: column;
    }

    #weather_section {
        grid-column: 4/7;
        grid-row: 5/6;
    }

    #join {
        display: block;
        grid-column: 1/7;
        grid-row: 4/5;
    }

    #hero_section {
        grid-column: 1/7;
        grid-row: 1/2;
        height: 300px;
    }

    #join,
    #event,
    #news {
        padding-top: 25px;
    }

    #news {
        grid-column: 1/7;
        grid-row: 2/3;
    }

    #spotlights {
        grid-column: 1/7;
        grid-row: 3/4;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #spotlight1,
    #spotlight2,
    #spotlight3 {
        padding: 10px;
        width: 40%;
    }

    #event {
        grid-column: 1/4;
        grid-row: 5/6;
    }


    #spotlights section:last-child {
        display: none;
    }
}

@media screen and (min-width: 900px) {

    .content {
        max-width: 800px;
    }

    .navigation {
        position: static;
        grid-column: 4/6;
        width: 100%;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-evenly;
    }

    nav ul li:first-child {
        display: none;
    }

    nav ul li {
        display: block;
    }

    header {
        font-size: 1em;
        grid-column: 2/3;
        grid-row: 1/2;
        width: 100%;
    }

    #logo_header {
        grid-column: 1/2;
        grid-row: 1/2;
        width: 50%;
        padding-left: 20px;
    }


    nav li {
        padding: 25px;
    }

    #social_media {
        grid-column: 7/8;
        width: 100%;
    }

    footer {
        margin: 0 auto;
    }

    .boxes {
        display: flex;
        flex-wrap: wrap;

    }

    #weather_section {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #join {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #hero_section {
        grid-column: 2/6;
        grid-row: 1/3;
        height: 98.5%;

    }

    #hero img,
    #hero source {
        width: 100%;
        height: 100%;
    }

    #news {
        grid-column: 2/6;
        grid-row: 3/4;
    }

    #spotlights {
        grid-column: 6/7;
        grid-row: 1/4;
        flex-direction: column;
        justify-content: center;

    }

    #event {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #join,
    #event,
    #news {
        padding-top: 40px;
    }

    #spotlights section:last-child {
        display: block;
    }

    #spotlight1,
    #spotlight2,
    #spotlight3 {
        padding: 10px;
        width: 90%;

    }

    #logo {
        margin: 0;
    }

    footer {
        flex-direction: row;
    }
}

@media screen and (min-width: 1200px) {

    .content {
        max-width: 1200px;
    }

    .navigation {
        position: static;
        grid-column: 4/6; 
        width: 100%;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-evenly;
    }

    nav ul li:first-child {
        display: none;
    }

    nav ul li {
        display: block;
    }

    header {
        font-size: 1em;
        grid-column: 2/3;
        grid-row: 1/2; 
        width: 100%;
    }

    #logo_header {
        grid-column: 1/2;
        grid-row: 1/2; 
        width: 50%;
        padding-left: 20px;
    }


    nav li {
        padding: 25px;
    }

    #social_media {
        grid-column: 7/8; 
        width: 100%;
    }

    footer {
        margin: 0 auto;
    }

    .boxes {
        grid-template-columns: 3fr 1fr 1fr 1fr 1fr 3fr;
    }

    #weather_section {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #join {
        grid-column: 1/2;
        grid-row: 3/4;
    } 

    #hero_section {
        grid-column: 2/6;
        grid-row: 1/3;
        height: 98.5%;

    }

    #hero img,
    #hero src {
        width: 100%;
        height: 100%;
    }

    #news {
        grid-column: 2/6;
        grid-row: 3/4;
    }

    #spotlights {
        grid-column: 6/7;
        grid-row: 1/4; 
        flex-direction: column;
        justify-content: center;

    }

    #event {
        grid-column: 1/2;
        grid-row: 1/2; 
    }

    #join,
    #event,
    #news {
        padding-top: 40px;
    }

    #spotlights section:last-child {
        display: block;
    }

    #spotlight1,
    #spotlight2,
    #spotlight3 {
        padding: 10px;
        width: 90%;

    }

    #logo {
        margin: 0;
    }

    footer {
        flex-direction: row;
    }
}    */