@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* ******************* HEADER ******************* */
header {
    width: 100%;
    justify-content: space-evenly;
    background-color: lightblue;
}

.logo_header {
    height: 120px;
    width: 120px;
    margin-top: -50px;
    border-radius: 50%;

}

li .active {
    background-color: rgb(138, 34, 34);
    color: white;
}

nav {
    padding: 2px;
    border: solid 3px black;
}

nav a:hover {
    background-color: rgb(138, 34, 34);
    color: white;

}

nav a {
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
}

nav ul {

    text-align: center;
    font-size: 14pt;
    margin: 5px;
    padding: 10px;
    padding-top: 10px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

#header_date {
    text-align: center;
    border: solid black 2px;
    margin-right: 20px;
    margin-left: 20px;

}

li {
    padding-top: 50px;
}

section .facebook {
    width: 55px;
    height: 55px;
    grid-column: 5/6;
    padding: 10px;
    grid-row: 1;
    margin-top: 20px;
    border-radius: 50%;

}

section .linkedin {
    width: 55px;
    height: 55px;
    padding: 10px;
    grid-column: 6/7;
    grid-row: 1;
    margin-top: 20px;
    border-radius: 50%;
}

/* ******************* BODY ******************* */

body {
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: 0;

}

.content {
    max-width: 1400px;
    margin: 0 auto;
}


.main_container {
    margin-left: 80px;
    margin-right: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
    flex-direction: column;
}

.grid-item {
    display: grid;
}




.event {
    background-color: lightgray;
    border: solid 2px black;
    padding: 10px;
    grid-column: 1/2;
    grid-row: 1/1;
    box-shadow: 0px 0px 3px 3px rgb(51, 49, 49);


}

.hero {

    background-color: lightgray;
    border: solid 2px black;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-height: 100%;
    grid-column: 2/4;
    grid-row: 1/3;
    box-shadow: 0px 0px 3px 3px rgb(51, 49, 49);

}

.weather {
    background-color: lightgray;
    border: solid 2px black;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-height: 100%;
    grid-column: 1/1;
    grid-row: 2/2;
    box-shadow: 0px 0px 3px 3px rgb(51, 49, 49);

}

.join {
    background-color: lightgray;
    border: solid 2px black;
    padding: 10px;
    grid-column: 1/1;
    grid-row: 3/3;
    box-shadow: 0px 0px 3px 3px rgb(51, 49, 49);

}

.news {
    background-color: lightgray;
    border: solid 2px black;
    padding: 10px;
    grid-column: 2/4;
    grid-row: 3/3;
    box-shadow: 0px 0px 3px 3px rgb(51, 49, 49);

}

.spotlight {
    background-color: lightgray;
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 4/5;
    grid-row: 1/4;
    border: solid 2px black;
    box-shadow: 0px 0px 3px 3px rgb(51, 49, 49);
}

.spotlight1 {
    background-color: lightgray;
    border: solid 2px black;
    padding: 3px;
    box-shadow: 0px 0px 3px 3px rgb(51, 49, 49);


}

.spotlight2 {
    background-color: lightgray;
    border: solid 2px black;
    padding: 3px;
    box-shadow: 0px 0px 3px 3px rgb(51, 49, 49);

}

.spotlight3 {
    background-color: lightgray;
    border: solid 2px black;
    padding: 10px;
    padding: 3px;
    box-shadow: 0px 0px 3px 3px rgb(51, 49, 49);


}


/* ******************* FOOTER ******************* */
footer {
    /* border: solid 3px black; */
}

#info {
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    margin: 5px;
    /* padding: 10px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;


}

#address {
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    /* line-height: 10px; */
}

#contact {
    grid-column: 5/6;
    padding-top: 40px;
    /* line-height: 10px; */
}

.map {
    display: block;
    text-decoration: none;
}

.logo_footer {
    height: 200px;
    width: 200px;
    justify-content: center;
    grid-column: 2/3;
    border-radius: 50%;

}

#buttom_banner {
    text-align: center;
    padding: 5px;
    background-color: lightblue;
    border: solid 3px black;
}


/* ******************* MEDIA QUERIES ******************* */

@media screen and (max-width: 900px) {
    #main_container {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }
}

@media screen and (min-width: 1000px) {
    #main_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
}

@media screen and (min-width: 1300px) {
    #main_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
    }
}

