@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* ******************* HEADER ******************* */
header {
    width: 100%;
    justify-content: space-evenly;
    background-color: lightblue;
}

.logo_header {
    height: 120px;
    width: 120px;
    margin-top: -50px;
    border-radius: 50%;

}

li .active {
    background-color: rgb(138, 34, 34);
    color: white;
}

nav {
    padding: 2px;
    border: solid 3px black;
}

nav a:hover {
    background-color: rgb(138, 34, 34);
    color: white;

}

nav a {
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
}

nav ul {

    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: center;

}

nav li {
    display: none;
}

nav li:first-child {
    display: block;
}

nav li:nth-child(2) {
    display: block;
}

#header_date {
    text-align: center;
    border: solid black 2px;
    margin-right: 20px;
    margin-left: 20px;

}

#msg-box {
    display: none;
}

.ham {
    text-align: center;


}

/* I need to keep on working on the HAMBURGER MENU NEXT. */
.ham span {
    background-color: lightblue;
    text-decoration: none;

    width: 35px;
}

.ham span:nth-child(1) {
    display: block;
}

.ham span:nth-child(2) {
    display: none;
}

.ham.responsive span:nth-child(1) {
    display: none;
}

.ham.responsive span:nth-child(2) {
    display: block;
}

li {
    padding-top: 50px;
}

div .facebook {
    width: 55px;
    height: 55px;
    grid-column: 5/6;
    padding: 10px;
    grid-row: 1;
    margin-top: 25px;
    border-radius: 50%;

}

div .linkedin {
    width: 55px;
    height: 55px;
    padding: 10px;
    grid-column: 6/7;
    grid-row: 1;
    margin-top: 20px;
    border-radius: 50%;
}

/* ******************* BODY ******************* */

body {
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: 0;

}

.content {
    max-width: 1400px;
    margin: 0 auto;
}


.boxes {
    display: grid;
    margin-left: 80px;
    margin-right: 80px;
    padding: 4px;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    text-align: center;

}


.box h3 {
    color: black;
    font-size: 1.6em;
    text-align: center;
    text-shadow: 0 0 4px black;

}

.box p {
    text-align: center;
    padding: 0 15px;
}

/* .grid-item {
    display: grid;
} */

#event {
    background-color: lightgray;
    border: solid 2px black;
    padding: 10px;
    grid-column: 1/2;
    grid-row: 2/3;
    box-shadow: 0px 0px 3px 3px rgb(51, 49, 49);


}

#hero {
    position: relative;
    background-color: lightgray;
    border: solid 2px black;
    /* object-fit: cover;
    background-size: cover;
    background-position: center; */
    grid-column: 1/2;
    grid-row: 1/2;

    box-shadow: 0px 0px 3px 3px rgb(51, 49, 49);

}

#hero img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#hero h2 {
    margin: 0;
    position: absolute;
    top: 20px;
    left: 20px; 
}

#weather {
    background-color: lightgray;
    border: solid 2px black;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    /* width: 100%;
    max-height: 100%; */
    grid-column: 1/2;
    grid-row: 3/4;
    box-shadow: 0px 0px 3px 3px rgb(51, 49, 49);

}


#weather_section img {
    width: 100px;

}

#weather span {
    padding-left: 10px;
}

.temp {
    display: flex;
    justify-content: space-around;

}

.temp p {
    font-size: 2em;
}

.temp img {
    width: 90px;
}

#join {
    background-color: lightgray;
    border: solid 2px black;
    padding: 10px;
    display: none;
    box-shadow: 0px 0px 3px 3px rgb(51, 49, 49);

}

#button {
    top: 100px;
}

#button2 {
    width: 50%;
    display: block;
    margin: 0 auto;
}

#button .join,
#button2 {
    background-color: skyblue;
    padding: 20px;
    box-shadow: 0 0 10px skyblue;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    

}


#button a,
#button2 a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

#news {
    background-color: lightgray;
    border: solid 2px black;
    padding: 10px;
    grid-column: 1/2;
    grid-row: 4/5;
    box-shadow: 0px 0px 3px 3px rgb(51, 49, 49);

}

#spotlights {
    background-color: lightgray;
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 1/2;
    grid-row: 5/6;
    border: solid 2px black;
    box-shadow: 0px 0px 3px 3px rgb(51, 49, 49);
}


#spotlight1,
#spotlight2,
#spotlight3 {
    background-color: lightgray;
    border: 2px solid black;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    border: solid 2px black;
    box-shadow: 0px 0px 3px 3px rgb(51, 49, 49);
}




/* ******************* FOOTER ******************* */
/* footer {
    border: solid 3px black;
} */

#info {
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    margin: 5px;
    /* padding: 10px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;


}

#address {
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    /* line-height: 10px; */
}

#contact {
    grid-column: 5/6;
    padding-top: 40px;
    /* line-height: 10px; */
}

.map {
    display: block;
    text-decoration: none;
}

.logo_footer {
    height: 200px;
    width: 200px;
    justify-content: center;
    grid-column: 2/3;
    border-radius: 50%;

}

#buttom_banner {
    text-align: center;
    padding: 5px;
    background-color: lightblue;
    border: solid 3px black;
}


/* ******************* MEDIA QUERIES ******************* */

/* Medium Screen */
@media screen and (min-width: 800px) {
    .boxes {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;

    }

    #weather {
        grid-column: 4/7;
        grid-row: 5/6;
    }

    #join {
        display: block;
        grid-column: 1/7;
        grid-row: 4/5;
    }

    #hero {
        grid-column: 1/7;
        grid-row: 1/2;
        height: 98.5%;
    }
    #hero img, #hero source {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #news {
        grid-column: 1/7;
        grid-row: 2/3;
    }

    #event {
        grid-column: 1/4;
        grid-row: 5/6;
    }

    #spotlights {
        grid-column: 1/7;
        grid-row: 3/4;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #spotlights section:last-child {
        display: none;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-evenly;
    }

    nav ul li:nth-child(2) {
        display: none;
    }

    nav ul li {
        display: block;
    }
}


@media screen and (min-width: 1000px) {
    .boxes {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    #weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #join {
        display: block;
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #hero {
        grid-column: 2/6;
        grid-row: 1/3;
    }

    #hero img, #hero source {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #news {
        grid-column: 2/6;
        grid-row: 3/4;
    }

    #spotlights {
        grid-column: 6/7;
        grid-row: 1/4;
        flex-direction: column;
        justify-content: center;

    }

    #event {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #spotlights section:last-child {
        display: block;
    }
}