@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body {
    background-color: #3792b1;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    list-style-type: none;
    
}
#content {
    background-color: white;
    padding: 10px;
    width: 70%;
    margin: 0 auto;
    max-width: 1600px;
    border: solid black 3px;
}

p, ol {
    margin-left: 20px;
    margin-right: 20px;
}
.logo {
    width: 250px;
}
li .active {
    background-color: rgb(138, 34, 34);
    color: white;
}
nav ul {
    margin: 5px;
    padding: 10px;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(68, 186, 233);
    margin: 0 auto;
    list-style-type: none;
    border: solid 3px black;
    
    
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    padding: 15px;
}
nav a:hover {
    background-color: rgb(138, 34, 34);
}
.persona {
    width: 250px;
}
div .scenarios {
    text-align: left;
    
}
.primary {
    background-color: #3792b1;
}
.secondary {
    background-color: rgb(68, 186, 233);
}
.accent1 {
   background-color: rgb(138, 34, 34);
   color: white;
}

footer {
    padding-top: 30px;
}
@media screen and (max-width: 1200px) { 
    nav a {
        font-size: 1.1em;
    }
}
@media screen and (max-width: 750px) { 
    nav ul {
        display: block;
    }
    nav li {
        padding: 10px;
        text-align: center;
    }
    nav a {
        font-size: 1.3em;
    }
    p, ol {
        margin-left: 2em;
        margin-right: 2em;
    }
}